<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="public/plugins/font-awesome/css/font-awesome.min.css">
  		<link rel="stylesheet" href="public/plugins/foundation/foundation.css" />
  		<link rel="stylesheet" href="public/plugins/foundation/normalize.css" />
  		<link rel=stylesheet href="public/styles/common.css">
  		<link rel=stylesheet href="public/fonts/fonts.css" data-td-font-css>

		<script src="public/plugins/jquery/jquery.js"></script>
		<script src="public/plugins/jscolor/jscolor.min.js"></script>

	</head>
	<body class="home">
		<div class="body-wrapper">

			<!-- Content Section -->
			<div class="content-section">
				<div class="content-wrapper">
					<div class="content row">
						<div class="one-column small-12 columns">
							

							<div class="main ">

								<div class='text-settings-wrapper row'>
									<div class='text-settings small-12 columns'>
										
										<div class='header small-12 columns'>
											<h4 class='title' >Font Settings:</h4>
										</div>

										<div class='font-type-wrapper small-12 medium-6 columns'>
										    <select class="font-type" data-td-font-type> 
										    </select>
										</div>

									    <div class='font-size-wrapper small-12 medium-6 columns'>
										    <select class="font-size" data-td-font-size> 
										    </select>
									    </div>
									    <div class='font-color-wrapper small-12  columns'>
											<input class="jscolor" value="fff" data-sv-font-color>
									    </div>

									</div>
								</div>


								<div class='text-data-wrapper row'>
									<div class='text-data small-12 columns'>
										
										<div class='header small-12 columns'>
											<h4 class='title' >Enter some text:</h4>
										</div>
										
										<div class='text-input-wrapper small-12 medium-8 columns'>
											<input class='text-input' data-td-text-input />
										</div>
										
										<div class='clear-wrapper small-12 medium-4 columns'>
											<div class='clear'>
												<button class='clear-btn' id='clear' data-td-clear-btn>
													Clear
												</button>
											</div>
										</div>

										<div class='text-display-wrapper small-12 columns'>
											<div class='text-display' data-td-text-display></div>
										</div>


									</div>
								</div>

							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		
		<script src="public/js/font_checker.js"></script>
		<script src="public/js/upload.js"></script>
	</body>
</html>

