<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="public/plugins/font-awesome/css/font-awesome.min.css">
  		<link rel="stylesheet" href="public/plugins/foundation/foundation.css" />
  		<link rel="stylesheet" href="public/plugins/foundation/normalize.css" />
  		<link rel=stylesheet href="public/styles/common.css">
  		<link rel=stylesheet href="public/fonts/fonts.css">

		<script src="public/plugins/jquery/jquery.js"></script>

	</head>
	<body class="home">
		<div class="body-wrapper">

			<!-- Content Section -->
			<div class="content-section">
				<div class="content-wrapper">
					<div class="content row">
						<div class="one-column small-12 columns">
							

							<div class="main ">
								<div class='main-header row'>
									<div class='header small-12 columns'>
										<h2 class='title' >Font Tester</h2>
									</div>
								</div>

								<div class='text-settings-wrapper row'>
									<div class='text-settings small-12 columns'>
										
										<div class='header small-12 columns'>
											<h4 class='title' >Font Settings:</h4>
										</div>

										<div class='font-type-wrapper small-12 medium-6 columns'>
										    <select class="font-type" data-td-font-type> 
										        <option value="Comic Sans MS">Comic Sans MS</option>
										        <option value="Arial">Arial</option>
										        <option value="Impact">Impact</option>
										        <option value="Verdana ">Verdana </option>
										        <option value="Century Gothic">Century Gothic</option>
										    </select>
										</div>

									    <div class='font-size-wrapper small-12 medium-6 columns'>
										    <select class="font-size" data-td-font-size> 
										        <option value="5">5</option>
										        <option value="10">10</option>
										        <option value="12" >12</option>
										        <option value="16">16</option>
										        <option value="18">18</option>
										        <option value="20">20</option>
										        <option value="24">24</option>
										        <option value="26">26</option>
										        <option value="30">30</option>
										        <option value="35">35</option>
										    </select>
									    </div>

									</div>
								</div>


								<div class='text-data-wrapper row'>
									<div class='text-data small-12 columns'>
										
										<div class='header small-12 columns'>
											<h4 class='title' >Enter some text:</h4>
										</div>
										
										<div class='text-input-wrapper small-12 columns'>
											<input class='text-input' data-td-text-input />
										</div>
										
										<div class='text-display-wrapper small-12 columns'>
											<div class='text-display' data-td-text-display></div>
										</div>

										<div class='clear-wrapper small-12 columns'>
											<div class='clear'>
												<button class='clear-btn' id='clear' data-td-clearBtn>
													Clear
												</button>
											</div>
										</div>

									</div>
								</div>

							</div>
						</div>
					</div>


<!-- 					<div class="content row">
						<div class="one-column small-12 columns">
							<div class="main">
								<div class='upload-wrapper row'>
									<div class='header '>
										<h4 class='title' >
						            		Font Uploader
										</h4>
									</div>
									<div class='file-wrapper'>
										<input id="upload-input" type="file" name="uploads[]" data-td-real-upload></br>
									</div>

						            <div class="progress-bar-wrapper">
						              <div class="progress-bar" role="progressbar" data-td-progress></div>
						            </div>

						            <div class='upload-btn-wrapper' >
						            	<button class="uploadBtn" type="button" data-td-upload-btn>
						            		Upload Font
						            	</button>
						            </div>
								</div>
					        </div>
					    </div>
					</div>
 -->
				</div>
			</div>
		</div>
		

<!-- 
		<h1 class='font-upload-test1' >
			Quicksand-Book
		</h1>

		<h1 class='font-upload-test2' >
			Quicksand-Book
		</h1>
		<h1 class='font-upload-test3' >
			Quicksand-Book
		</h1>
 -->

		<script src="public/js/font_checker.js"></script>
		<script src="public/js/upload.js"></script>
	</body>
</html>