.content-section{}
.content-section .content-wrapper{}
.content-section .content-wrapper .content{}
.content-section .content-wrapper .content .one-column{}

.main {
	margin: 20px;
}
.content-section .content-wrapper .content .one-column .main > div{
	margin-bottom: 20px;
    padding: 20px;
    background-color: #FCE8B0;
    border: 2px solid #581845;
    border-radius: 5px;
}

.content-section .content-wrapper .content .one-column .main .main-header{
	margin-bottom: 20px;
    padding-left: 20px;
    padding-bottom: 0px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #581845;
    border-radius: 0px;
    text-align: center;	
}
.content-section .content-wrapper .content .one-column .main .main-header h2{
	font-weight: bold;
}

.content-section .content-wrapper .content .one-column .main h4{
	margin-bottom: 15spx;
}

.text-settings-wrapper{

}
.text-settings-wrapper .text-settings{}
.text-settings-wrapper .text-settings .header {}
.text-settings-wrapper .text-settings .header .title{}
.text-settings-wrapper .text-settings select{
	border-radius: 5px;
}
.text-settings-wrapper .text-settings .font-type-wrapper{}
.text-settings-wrapper .text-settings .font-type-wrapper .font-type{}
.text-settings-wrapper .text-settings .font-size-wrapper{}
.text-settings-wrapper .text-settings .font-size-wrapper .font-size{}
.text-data-wrapper{}
.text-data-wrapper .text-data{}
.text-data-wrapper .text-data .header{}
.text-data-wrapper .text-data .header .title{}
.text-data-wrapper .text-data .text-input-wrapper{}

.text-data-wrapper .text-data .text-input-wrapper .text-input{
	border-radius: 5px;
}

.text-data-wrapper .text-data .text-display-wrapper {
	margin-top:	10px;
	margin-bottom:	30px;
	font-size: 16px;
}
.text-data-wrapper .text-data .text-display{
	min-height: 20px;
	border-bottom: 1px solid #581845;
}
.text-data-wrapper .text-data .clear-wrapper{}
.text-data-wrapper .text-data .clear-wrapper .clear{}
.text-data-wrapper .text-data .clear-wrapper .clear .clear-btn{
	background-color: #C70039;
	border-radius: 5px;
	color: #fff;
	font-weight: bold;
}


.upload-wrapper{}
.upload-wrapper .header {}
.upload-wrapper .header  .title{}
.upload-wrapper .progress-bar-wrapper{}
.upload-wrapper .progress-bar-wrapper .progress-bar{}
.upload-wrapper .upload-btn-wrapper{}
.upload-wrapper .upload-btn-wrapper .uploadBtn{
	border-radius: 5px;
	color: #fff;
	font-weight: bold;
}


#upload-input {
  display: none;
}


.status-wrapper{
	font-size: 16px;
}
.status-wrapper .status-good{
	color: green;
}
.status-wrapper .status-bad{
	color: red;
}


@media only screen and (max-width: 40.063em) { 
	.text-settings-wrapper .text-settings select{
		margin-bottom: 15px;
	}
}